<h1>File#index</h1>
<p>Find me in app/views/file/index.html.erb</p>


<form id="file_form" action="some_controller/some_action" method="post">

<% 
loop do
  server = @servers.next
  radio_label = @radio_labels.next
%>
  <div>
    <%= 
      radio_button_tag(
        name = 'location', 
        value = server, 
        #checked = (server == 'miniprod')
      )
    %>
    <%=
      label_tag(name="location_#{server}", content=radio_label) 
    %>
  </div>

<% end %>

  <div id='dirs_div'></div>
  <div id='files_div'></div>

  <div><button type="submit">Submit</button></div>
</form>

<script>
function create_select(server_choice) {

  var dirs_for = {
    miniprod: <%= raw @miniprod_dirs %>,  //raw() somehow converts ruby arrays to js arrays
    watch: <%= raw @watch_dirs %>,
    archive: <%= raw @archive_dirs %>,
    local: <%= raw @local_dirs %>
  }
  var dirs = dirs_for[server_choice];

  var $new_select = $('<select id="directory" name="directory">');
  var options = [];

  //Display default option that says 'select directory':
  options.push(
    $("<option>", {selected: "selected", disabled: "disabled", text: "select directory"})
  );

  var i;
  var len = dirs.length;
  var dir_name;

  for(i=0; i< len; i++) {
    dir_name = dirs[i];
    options.push( 
      $("<option>", {value: dir_name, text: dir_name} )
    );
  }

  $new_select.append(options);

  $new_select.on("change", function() {
    var dir_choice = $(this).val()


    $.get(
      '/file/index', 
      {server: server_choice, dir: dir_choice}, 
      function(select_html) { $("#files_div").html(select_html) },
      'html'
    );

  });

  $('#dirs_div').html($new_select);
  //In addition, when a new server is chosen, the file select,
  //if it is already being displayed, should be deleted.
  $('#files_div').empty()  
}


//Add an onclick event handler to each of the radio buttons:
$('input[name=location]', '#file_form').on('click', function(event) {
  var server_choice = $(this).val()
  create_select(server_choice);
  event.stopPropagation();  //Prevent click event from 'bubbling' up to parent tags
});

</script>






