<script>
//Cascading <select>'s:

$(document).ready(function() {
  if("<%= id_attr %>" != "file_alias") { //Don't add onchange event to file_alias select
    $("#<%= id_attr %>").on("change", function() {
      var selection = $(this).val();

      function onsuccess(select_html) {
        //console.log(select_html);
        var $new_select = $(select_html);
        var new_select_id = $new_select.filter("select").attr("id");
        //console.log(new_select_id);
        var existing_select = $("#"+new_select_id);
        //console.log(existing_select);

        if(existing_select.length) { //If length > 0, the select already exists..
          existing_select.replaceWith($new_select);
        }
        else {
          $(select_html).insertAfter("#<%= id_attr %>");
        }
      } 

      $.get(
        "/file/index",
        {selection: selection, select_id: "<%= id_attr %>"},
        onsuccess,
        "html"
      );

    });
  }
});

</script>

<select id="<%= id_attr %>" name="<%= id_attr %>">
  <option selected="selected" disabled="disabled">select <%= id_attr %></option>
  <% option_objs.each do |option_obj| %>
  <option value=<%= option_obj.name %> ><%= option_obj.name %></option>
  <% end %>
</select>

